.details-wrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-basis: 50%;
}
.card-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-subtitle{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.card-image{
    flex-direction: column;
    flex-basis: 30%;
}
.text-div{
    background-color: #142D45;
    border-radius: 8px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 15px;
  
}
.card-details{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    font-size: 17px;
    margin: 20px 25px;
    text-align: left;
    width: 325px
}
.card-details hr{
    width: 100%;
}
.badge{
    /* justify-content: flex-end; */
    background-color: #FFF;
    border-radius: 4px;
    color: #142D45;
    font-weight: bold;
    padding: 2px;
}
.footer{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: column;
}



@media screen and (max-width: 760px){
    .details-wrapper{
        flex-direction: column;
    }
    .text{
        margin: auto;
        padding-top: 20px;
        text-align: left;
        width: 50%;
    }
    
    
}
