.container{
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3% 3% 0 3%;
    text-align: center;

    &.home{
      display: flex;
      flex-direction: column;
    }
    &.cards{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    &.title{
      font-size: 25px;
    }
    &.details{
      font-weight: bold;
      font-size: 35px;
    }
}
.center{
  text-align: center;
  padding-top: 7px;

  &.bold{
    font-weight: bold;
    font-size: 18px;
  }
}