.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 4%;

    &.home{
      display: flex;
      flex-direction: column;
    }
    &.cards{
      display: flex;
      flex-wrap: wrap;
    }
}
.center{
  text-align: center;
  padding-top: 7px;
}