.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 3%;
  text-align: center;

    &.home{
      display: flex;
      flex-direction: column;
    }
    &.cards{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    &.title{
      font-size: 25px;
    }
}
.center{
  padding-top: 7px;
  text-align: center;

  &.bold{
    font-size: 18px;
    font-weight: bold;
  }
}